<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProyectoEmpresa.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ProyectoEmpresa.My.MySettings>
            <setting name="SetDatabase" serializeAs="String">
                <value>..\..\..\Proyecto_Empresa_BBDD\Database1.accdb</value>
            </setting>
            <setting name="SetHost" serializeAs="String">
                <value>172.25.210.32</value>
            </setting>
            <setting name="SetModeQuit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SetPort" serializeAs="String">
                <value>2208</value>
            </setting>
            <setting name="SetMode" serializeAs="String">
                <value>OCS</value>
            </setting>
            <setting name="SetPathTmp" serializeAs="String">
                <value>\voxcom\tmp</value>
            </setting>
            <setting name="SetPathLog" serializeAs="String">
                <value>\voxcom\log</value>
            </setting>
            <setting name="SetPathAppl" serializeAs="String">
                <value>\voxcom</value>
            </setting>
            <setting name="SetUser" serializeAs="String">
                <value>voxcom02</value>
            </setting>
            <setting name="SetPassword" serializeAs="String">
                <value>voxcom.02</value>
            </setting>
            <setting name="SetPathIXML" serializeAs="String">
                <value>\voxcom\xml\input</value>
            </setting>
            <setting name="SetPathOXML" serializeAs="String">
                <value>\voxcom\xml\output</value>
            </setting>
            <setting name="gblCMMIdCluster" serializeAs="String">
                <value>2</value>
            </setting>
        </ProyectoEmpresa.My.MySettings>
    </userSettings>
</configuration>